html, body, .container-fluid {
  height: 100%;
}

body {
  width: 100%;
  font-family:"verdana", "arial", "sans-serif";
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-select {
  max-width: 30%;
  margin-left: 10px;
}

.upload-form-field {
  width: 60% !important;
}

#entete {
 border-bottom: 1px dotted navy;
}
  
  
#menu {
  margin-top: 5px;
  margin-right: 10px;
	width: 15%;
	float: left;
}

#menu h3 {
	text-align:center;
}

#menu a {
  color: black;
}

#menu a:hover {
  color: white;
  background-color: #007bff;
}

#corps{
	margin-left:13%;
	padding: 10px;
	overflow:hidden;
}

  
  /* Added styles */
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
